.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.theme-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  font-size: large;
}
