<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar">
    <span>Bg3-Builds</span>
    <div class="spacer"></div>
    <a mat-raised-button color="primary" [routerLink]="['/loot']">Items</a>
    <a mat-raised-button color="primary" [routerLink]="['/build']"
      >Your Builds</a
    >
    <div class="spacer"></div>
    <div class="theme-container">
      <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
      <button mat-icon-button>
        @if (getTheme() === 'dark'){
        <mat-icon>bedtime</mat-icon>
        } @else {
        <mat-icon>wb_sunny</mat-icon>
        }
      </button>
    </div>
    <span>Made by icdef</span>
  </mat-toolbar-row>
</mat-toolbar>
