html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex-grow: 1;
  /* This fills the space between Item 1 and the other items */
  min-width: 0; /* Ensures the spacer can shrink to zero width */
  /* You can also use `flex: 1 0 0;` as a shorthand for the above two lines */
}
